In [1]:
from datascience import *

In [2]:
region_country = Table.read_table('ImmigrantsRegionCountry.csv') # read in the dataset

In [3]:
region_country

fiscal_year | country         | total
1,989       | Afghanistan     | 3,232
1,989       | Albania         | 71
1,989       | Algeria         | 230
1,989       | American Samoa  | 1
1,989       | Andorra         | 4
1,989       | Angola          | 143
1,989       | Anguilla        | 43
1,989       | Antigua-Barbuda | 979
1,989       | Argentina       | 3,301
1,989       | Aruba           | 73
... (5915 rows omitted)

In [7]:
mexico = region_country.where('country', are.containing('Mexico'))
mexico

fiscal_year | country | total
1,989       | Mexico  | 405,172
1,990       | Mexico  | 679,068
1,991       | Mexico  | 946,167
1,992       | Mexico  | 213,802
1,993       | Mexico  | 126,561
1,994       | Mexico  | 111,398
1,995       | Mexico  | 89,932
1,996       | Mexico  | 163,572
1,997       | Mexico  | 146,865
1,998       | Mexico  | 131,575
... (19 rows omitted)

# Outline
## 1. Introduction - how to use Jupyter
## 2. The dataset
### a) Context/background of the dataset
### b) what does a column represent
### c) what does a row represent
## 3. Immigration by Region and Country
### a) begin cleaning data
#### 1. fix year column, potentially replace some codes with what they actually represent
### b) show how # rows/columns decrease
### c) relabel termination type???
## 4. Visualization
### a) graphs of the number of immigrants over time