# Immigration-- Class Admission and Last Perm Residence

# Outline
Similar to Immigration by Region and Country notebook or to be combined with that notebook 
Like other notebook(s), need to reformat years

## Context of the Data 

Context on [type](https://www.dhs.gov/immigration-statistics/lawful-permanent-residents/ImmigrantCOA) column 
"A lawful permanent resident (LPR) or “green card” recipient may live and work anywhere in the United States and may apply to become U.S. citizens if they meet certain eligibility and admissibility requirements. The Immigration and Nationality Act (INA) provides several broad classes of admission for foreign nationals to gain LPR status, the largest of which focuses on admitting immigrants for the purpose of family reunification. Other major categories include economic and humanitarian immigrants, as well as immigrants from countries with relatively low levels of immigration to the United States." 

Diversity -- "Those who seek to immigrate to the United States from countries with relatively low levels of immigration may be eligible to seek immigration under the Diversity Immigrant Visa Program."

In [1]:
from datascience import *

import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
class_perm = Table.read_table('immigrants-class-perm.csv') # read in the dataset

In [3]:
class_perm

country     | type                    | fiscal_year | total
Afghanistan | Cancellation of Removal | 1,999       | 6
Afghanistan | Cancellation of Removal | 2,000       | 7
Afghanistan | Cancellation of Removal | 2,001       | 3
Afghanistan | Cancellation of Removal | 2,002       | 1
Afghanistan | Cancellation of Removal | 2,004       | 5
Afghanistan | Diversity               | 1,998       | 6
Afghanistan | Diversity               | 1,999       | 15
Afghanistan | Diversity               | 2,000       | 1
Afghanistan | Diversity               | 2,001       | 22
Afghanistan | Diversity               | 2,002       | 9
... (20897 rows omitted)

In [12]:
earliest_yr = min(class_perm.column('fiscal_year'))
latest_yr = max(class_perm.column('fiscal_year'))

print('The fiscal years in the dataset range from', earliest_yr, 'to', latest_yr)

The fiscal years in the dataset range from 1997 to 2017

In [15]:
num_countries = class_perm.group('country').num_rows
print('There are', num_countries, 'represented in this dataset')

class_perm.group('country').sort('count', descending = True)

There are 235 represented in this dataset

country   | count
Mexico    | 138
Honduras  | 137
Poland    | 136
Pakistan  | 136
Nigeria   | 136
Nicaragua | 136
Israel    | 136
Iran      | 136
India     | 136
Egypt     | 136
... (225 rows omitted)

In [10]:
types = class_perm.group('type').sort('count', descending = True)
types

type                                 | count
Immediate relatives of U.S. citizens | 4,046
Employment-based preferences         | 3,594
Family-sponsored preferences         | 3,418
Diversity                            | 3,179
Refugees and asylees                 | 3,115
Other                                | 2,673
Cancellation of Removal              | 658
IRCA legalization                    | 131
Suspension of Deportation            | 93

In [11]:
total_types = class_perm.group('type').num_rows
print('Total number of types:', total_types)

Total number of types: 9

In [20]:
min_total = min(class_perm.column('total'))
max_total = max(class_perm.column('total'))

In [21]:
class_perm.where('total', are.equal_to(min_total))

country                         | type                                 | fiscal_year | total
French Southern-Antarctic Lands | Immediate relatives of U.S. citizens | 2,002       | 0
Niue                            | Immediate relatives of U.S. citizens | 2,002       | 0
Reunion                         | Immediate relatives of U.S. citizens | 2,002       | 0

In [22]:
class_perm.where('total', are.equal_to(max_total))

country | type                                 | fiscal_year | total
Mexico  | Immediate relatives of U.S. citizens | 2,002       | 149,596

In [23]:
mexico = class_perm.where('country', are.equal_to('Mexico'))
mexico

country | type                    | fiscal_year | total
Mexico  | Cancellation of Removal | 1,998       | 103
Mexico  | Cancellation of Removal | 1,999       | 4,119
Mexico  | Cancellation of Removal | 2,000       | 2,321
Mexico  | Cancellation of Removal | 2,001       | 2,126
Mexico  | Cancellation of Removal | 2,002       | 1,908
Mexico  | Cancellation of Removal | 2,003       | 2,461
Mexico  | Cancellation of Removal | 2,004       | 3,243
Mexico  | Diversity               | 1,997       | 27
Mexico  | Diversity               | 1,998       | 14
Mexico  | Diversity               | 1,999       | 9
... (128 rows omitted)

In [25]:
mexico.group('type').sort('count', descending = True)

type                                 | count
Refugees and asylees                 | 21
Other                                | 21
Immediate relatives of U.S. citizens | 21
Family-sponsored preferences         | 21
Employment-based preferences         | 21
Diversity                            | 21
Cancellation of Removal              | 7
IRCA legalization                    | 4
Suspension of Deportation            | 1

In [27]:
mexico.where('fiscal_year', are.equal_to(2008)).sort('total', descending = True)

country | type                                 | fiscal_year | total
Mexico  | Immediate relatives of U.S. citizens | 2,008       | 111,410
Mexico  | Family-sponsored preferences         | 2,008       | 66,541
Mexico  | Employment-based preferences         | 2,008       | 7,560
Mexico  | Other                                | 2,008       | 1,872
Mexico  | Refugees and asylees                 | 2,008       | 614
Mexico  | Diversity                            | 2,008       | 18